<style>
    @font-face {
        font-family: 'Cafe24Shiningstar';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .Title {
        font-family: 'Cafe24Shiningstar';
        font-size: 5vh;
        color: black;
    }
</style>

<Header>
    <a href="/" style="text-decoration: none">
        <h1 class="Title">
            Oein's site
        </h1>
    </a>
</Header>